@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .top {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 735px;
    }
    .heading {
        text-align: center;
        width: auto;
        font-size: 32px;
        padding-left: 0px;
        line-height: 39.01px;
        }
    .main {
        font-size: 14px;
        text-align: center;
        width: auto;
        padding-left: 0px;
        &_input {
            margin-left: 60px;
            border-radius: 30px;
        };
    }

    .footer_content {
        height: 1221px;
    }

    .footer_aitem {
        column-gap: 0px;
        max-width: min-content;
    }

    .item_1 {
        width: 343px;
    }

    .item_2 {
        width: 343px;
    }

    .item_3 {
        width: 343px;
    }
    
    .footer_text {
        padding-left: 0px;
        padding-right: 0px;
    }
   
    .footer_heading {
        text-align: center;
        width: auto;
        font-size: 32px;
    }

    .footer_p {
        font-size: 14px;
    }

    .item__1 {
        width: 343px;    
    }

    .footer_content__1 {
        padding-right: inherit;
        justify-content: center;
        padding-right: 0px;
    }
   
    .footer_text__2 {
        padding-left: 0px;
        padding-right: 0px;
        text-decoration: none;
        max-width: fit-content;
        }
       
    .footer_heading__2 {
        text-align: center;
        width: auto;
        font-size: 32px;
    }
    
    .footer_p__2 {
        font-size: 14px;    
    }
    .item__2 {
        width: 343px;
        padding-top: 120px;
    }
    
    .footer_content__2 {
        padding-right: inherit;
        justify-content: center;
        padding-right: 0px;
        display: flex;
        flex-direction: column-reverse;
    }

    .footer_input {
    margin-left: 60px;
    border-radius: 30px;
    }

    .footer_input__2 {
    margin-left: 60px;
    border-radius: 30px;
    }    

    .footer_item__2 {
    align-self: baseline;
    }
}