* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(img__2.7/Rectangle_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 735px;
}

.heading {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  width: 788.78px;
  padding-top: 77px;
  padding-left: 16px;
}

.main {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  width: 588px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 22px;
}

.main_input {
  height: 48px;
  border: 1px solid #FFF;
  border-radius: 20px;
  background-color: #EB443F;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  width: 234.06px;
  margin-left: 16px;
}
.main_input:hover {
  background-color: rgb(15, 1, 9);
  color: #FFF;
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}
.main_input::-moz-placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}
.main_input::placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}

.footer_content {
  background-image: url(img__2.7/Rectangle_5.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 556px;
  padding-top: 130px;
}

.footer_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.item_1 {
  border-radius: 16px;
  transition: all 0.3s ease;
}
.item_1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.item_2 {
  border-radius: 16px;
  transition: all 0.3s ease;
}
.item_2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.item_3 {
  border-radius: 16px;
  transition: all 0.3s ease;
}
.item_3:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.footer_content__1 {
  background-image: url(img__2.7/Rectangle_6.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #000915;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;
  display: flex;
  width: 584px;
  align-items: flex-start;
  align-content: center;
  padding-left: 16px;
}

.footer_heading {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.footer_p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer_input {
  height: 48px;
  border: 1px solid #FFF;
  border-radius: 20px;
  background-color: #EB443F;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  width: 234.06px;
}
.footer_input::-moz-placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}
.footer_input::placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}

.footer_content__2 {
  background-image: url(img__2.7/Rectangle_7.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #000915;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer_text__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;
  display: flex;
  width: 584px;
  align-items: flex-start;
  align-content: center;
  padding-left: 16px;
}

.footer_heading__2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.footer_p__2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer_input__2 {
  height: 48px;
  border: 1px solid #FFF;
  border-radius: 20px;
  background-color: #EB443F;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  width: 234.06px;
}
.footer_input__2::-moz-placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}
.footer_input__2::placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}

.footer_content__3 {
  background-image: url(img__2.7/unsplash_iO0I6-mhDEY.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #000915;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.footer_text__3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}

.footer_heading__3 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.footer_p__3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer_input__3 {
  height: 48px;
  border: 1px solid #FFF;
  border-radius: 20px;
  background-color: #EB443F;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  width: 234.06px;
}
.footer_input__3::-moz-placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}
.footer_input__3::placeholder {
  color: #FFFFFF;
  padding-left: 80px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 735px;
  }
  .heading {
    text-align: center;
    width: auto;
    font-size: 32px;
    padding-left: 0px;
    line-height: 39.01px;
  }
  .main {
    font-size: 14px;
    text-align: center;
    width: auto;
    padding-left: 0px;
  }
  .main_input {
    margin-left: 60px;
    border-radius: 30px;
  }
  .footer_content {
    height: 1221px;
  }
  .footer_aitem {
    -moz-column-gap: 0px;
         column-gap: 0px;
    max-width: -moz-min-content;
    max-width: min-content;
  }
  .item_1 {
    width: 343px;
  }
  .item_2 {
    width: 343px;
  }
  .item_3 {
    width: 343px;
  }
  .footer_text {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer_heading {
    text-align: center;
    width: auto;
    font-size: 32px;
  }
  .footer_p {
    font-size: 14px;
  }
  .item__1 {
    width: 343px;
  }
  .footer_content__1 {
    padding-right: inherit;
    justify-content: center;
    padding-right: 0px;
  }
  .footer_text__2 {
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .footer_heading__2 {
    text-align: center;
    width: auto;
    font-size: 32px;
  }
  .footer_p__2 {
    font-size: 14px;
  }
  .item__2 {
    width: 343px;
    padding-top: 120px;
  }
  .footer_content__2 {
    padding-right: inherit;
    justify-content: center;
    padding-right: 0px;
    display: flex;
    flex-direction: column-reverse;
  }
  .footer_input {
    margin-left: 60px;
    border-radius: 30px;
  }
  .footer_input__2 {
    margin-left: 60px;
    border-radius: 30px;
  }
  .footer_item__2 {
    align-self: baseline;
  }
}/*# sourceMappingURL=style__2.7.css.map */